.categories {
	width: 100%;

	@media (width >=960px) {
		width: calc(50% + var(--gap-lg));
	}

	@media (width >=1200px) {
		width: calc(50% + var(--gap-xl));
	}
}

.category {
	font-family: var(--font-heading);
	font-size: 0.875rem;
	line-height: 1;


	list-style-type: none;
	padding: 0.875rem 0;
	border-bottom: 1px solid var(--color-text-secondary);

	@media (width >=480px) {
		font-size: 1rem;
	}

	@media (width >=640px) {
		font-size: var(--heading-size-xs);
	}
}

.button {
	border: 0;
	background: none;
	color: var(--color-text-secondary);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.button:hover,
.active {
	color: var(--color-text-primary);
}
