.imageWrapper {
	margin-top: 1.25rem;

	@media (width >=640px) {
		width: calc(50% + var(--gap-md) + var(--space-md));
	}

	@media (width >=960px) {
		width: calc(50% + var(--gap-lg) + var(--space-lg));
	}

	@media (width >=1200px) {
		width: calc(50% + var(--gap-xl) + var(--space-xl));
	}
}

.heroImage {
	width: 100%;
	object-fit: cover;
	object-position: center;
	height: min(clamp(230px, 72vw, 346px), 100%);

	@media (width >=640px) {
		height: 100%;
	}
}
