.imageWrapper {
	--gap-xl: 3.125rem;
	--gap-lg: 1.625rem;
	--gap-md: 0.5rem;

	margin-top: 1.25rem;

	@media (width >=640px) {
		width: calc(50% + var(--gap-md) + var(--space-md));
	}

	@media (width >=960px) {
		width: calc(50% + var(--gap-lg) + var(--space-lg));
	}

	@media (width >=1200px) {
		width: calc(50% + var(--gap-xl) + var(--space-xl));
	}
}

.heroImage {
	width: 100%;
	object-fit: cover;
	object-position: center;
	height: clamp(230px, 72vw, 346px);

	@media (width >=640px) {
		height: 100%;
	}
}
