.catalogWrapper {
	display: flex;
	flex-direction: column;
}

.catalog {
	--gap-xs: 0.75rem;
	--gap-sm: 1rem;
	--gap-md: 1.25rem;

	display: flex;
	flex-wrap: wrap;
	row-gap: 2.375rem;
	column-gap: var(--gap-xs);
	justify-content: flex-start;

	@media (width >=480px) {
		column-gap: var(--gap-sm);
		row-gap: 2.75rem;
	}

	@media (width >=640px) {
		column-gap: var(--gap-md);
		row-gap: 3rem;
	}

	@media (width >=960px) {
		row-gap: 3.625rem;
	}
}

.offer {
	display: flex;
	flex-direction: column;
	width: calc(50% - (var(--gap-xs)) / 2);

	@media (width >=480px) {
		width: calc(50% - (var(--gap-sm) / 2));
	}

	@media (width >=640px) {
		width: calc(50% - (var(--gap-md) / 2));
	}

	@media (width >=960px) {
		width: calc(33.333% - ((var(--gap-md) * 2) / 3));
	}
}

.offerImage {
	width: 100%;
	aspect-ratio: 1 / 1;

	flex-shrink: 0;
	border-radius: 0.3rem;
	object-fit: cover;
	object-position: center;
}

.offerName {
	font-family: var(--font-heading);
	font-size: 0.75rem;
	text-transform: uppercase;
	line-height: 1;

	margin: 0.5rem 0 0.875rem 0;

	@media (width >=480px) {
		font-size: 0.875rem;
		margin: 0.75rem 0 1rem 0;
	}

	@media (width >=640px) {
		font-size: 1rem;
		margin: 0.875rem 0 1.125rem 0;
	}

	@media (width >=960px) {
		font-size: 1.125rem;
		margin: 1rem 0 1.25rem 0;
	}

}

.btn {
	margin-top: auto;

	@media (width >=960px) {
		align-self: flex-start;
	}
}

.link {
	margin-top: 1.25rem;

	@media (width >=480px) {
		margin-top: 1.5rem;
	}

	@media (width >=640px) {
		margin: 0 auto;
		margin-top: 2rem;
	}

	@media (width >=960px) {
		margin-top: 2.25rem;
	}
}

.allBtn {
	width: 100%;

	@media (width >=640px) {
		margin: 0 auto;
		width: auto;
	}
}
