.iconLinks {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	gap: 0.5rem;

	margin-top: 1.25rem;

	@media (width >=640px) {
		margin-top: 1.5rem;
	}

	@media (width >=960px) {
		margin-top: 2rem;
	}
}

.icon g path {
	fill: var(--color-bg-secondary);
	transition: fill 0.2s ease;
}

.icon:hover g path {
	fill: var(--color-icon-hover);
}
