.footer {
	display: flex;
	flex-direction: column;

	background-color: var(--color-text-primary);
	padding: var(--spaceY-xs) 0;

	@media (width >=480px) {
		padding-top: var(--spaceY-sm);
	}

	@media (width >=640px) {
		padding: var(--spaceY-md) 0;
	}

	@media (width >=960px) {
		padding: 0 0 var(--spaceY-lg) 0;
	}

	@media (width >=1200px) {
		padding: 0 0 var(--spaceY-lg) 0;
	}
}

.container {
	max-width: var(--max-width);
	width: 100%;
	margin: 0 auto;
}

.block {
	display: flex;
	flex-direction: column;

	@media (width >=960px) {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}

.linksContainer {
	padding: 0 var(--space-xs);

	@media (width >=480px) {
		padding: 0 var(--space-sm);
	}

	@media (width >=640px) {
		padding: 0 var(--space-md);
	}

	@media (width >=960px) {
		padding-left: var(--space-lg);
	}

	@media (width >=1200px) {
		padding-left: var(--space-xl);
	}
}

.title {
	font-size: var(--heading-size-xs);
	color: var(--color-bg-secondary);

	text-transform: uppercase;

	@media (width >=480px) {
		font-size: var(--heading-size-sm);
	}

	@media (width >=640px) {
		font-size: var(--heading-size-md);
	}

	@media (width >=960px) {
		font-size: var(--heading-size-lg);
	}

	@media (width >=1200px) {
		font-size: var(--heading-size-xl);
	}
}
