.container {
	@media (width >=960px) {
		width: calc(50% + var(--gap-lg));
	}

	@media (width >=1200px) {
		width: calc(50% + var(--gap-xl));
	}
}

.title {
	font-size: var(--heading-size-xs);
	line-height: 1.4;
	text-transform: uppercase;
	transition: font-size 0.3s ease;

	@media (width >=480px) {
		font-size: var(--heading-size-sm);
	}

	@media (width >=640px) {
		font-size: var(--heading-size-md);
	}

	@media (width >=960px) {
		font-size: var(--heading-size-lg);
	}

	@media (width >=1200px) {
		font-size: var(--heading-size-xl);
	}
}

.subtitle {
	font-size: var(--heading-size-xs);
	line-height: 1.4;
	text-transform: uppercase;
	transition: font-size 0.3s ease;
	word-break: keep-all;
	white-space: wrap;

	@media (width >=480px) {
		font-size: var(--heading-size-sm);
		white-space: normal;
	}

	@media (width >=640px) {
		font-size: var(--heading-size-md);
	}

	@media (width >=960px) {
		font-size: var(--heading-size-lg);
		margin-left: -90px;
	}

	@media (width >=1200px) {
		font-size: var(--heading-size-xl);
		margin-left: -107px;
	}
}

.description {
	font-size: var(--font-size-xs);
	line-height: 1.4;
	max-width: 28rem;
	margin-top: 1.25rem;
	color: var(--color-text-secondary);
	transition: font-size 0.3s ease;

	@media (width >=480px) {
		font-size: 1rem;
		margin-top: 1.5rem;
	}

	@media (width >=640px) {
		margin-top: 2rem;
	}

	@media (width >=960px) {
		margin-top: 2.25rem;
	}
}

.link {
	position: relative;
	cursor: pointer;
	color: var(--color-text-primary);
}

.link:after {
	content: '';
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: currentColor;
	transition: width 0.3s ease;
}
